@model BENT1C.Grupo4.Models.Pregunta

@{
    ViewData["Title"] = "Delete";
}

<h3>¿Esta seguro que desea eliminar esta pregunta?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Entrada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entrada.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Miembro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Miembro.Apellido)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" asp-controller="Home">Menu principal</a>
    </form>
</div>
