@model IEnumerable<BENT1C.Grupo4.Models.Respuesta>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@foreach (var res in Model)
{
<div>
    <h4>Respuesta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => res.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => res.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => res.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => res.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => res.Pregunta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => res.Pregunta.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => res.Miembro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => res.Miembro.Apellido)
        </dd>
    </dl>
</div>

}


@*<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
